.jumbotron {
    background: #6b96c0 !important;
}
button {
    font-size:22px !important;
}
.leader {
    font-family:oswald;
    font-size:42px !important;
}

.bx-slider {
    width: 550px;
    margin: 0 auto;
}