.jumbotron {
    background: #6b96c0 !important;
}
button {
    font-size:22px !important;
}
.leader {
    font-family:oswald;
    font-size:42px !important;
}

.bx-wrapper {
    width: 550px !important;
    margin: 0 auto !important;
}


nav {
    background: #192662 !important;
}

nav .top-bar, nav .top-bar ul {
    background: #192662 !important;
}

.menu > li a {
    border-bottom: solid 2px #192662;
    color: white;
}
.menu > li a:hover {
    border-bottom: solid 2px white;
}
.icon {
    text-align:center;
    
}
.icon i{
    color:white;
}