.jumbotron {
    /* background: #6b96c0 !important; */
    background-image: linear-gradient(to bottom, #8eb3d4, #2b3f89);
}
button {
    font-size:22px !important;
}
.leader {
    font-family:oswald;
    font-size:42px !important;
}

.bx-wrapper {
    width: 550px !important;
    margin: 0 auto !important;
}


nav {
    background: #192662 !important;
}

nav .top-bar, nav .top-bar ul {
    background: #192662 !important;
}

.menu > li a {
    border-bottom: solid 2px #192662;
    color: white;
}
.menu > li a:hover {
    border-bottom: solid 2px white;
}
.icon {
    text-align:center;
    
}
.icon i{
    color:white;
}


/* portfolio links */
small a {
    margin-left: 0 !important;
}

/* scroll to top */
.scroll-top {
    font-size: 1.8rem !important;
}

/* registration button */
.register img {
    max-width: 300px;
}

.register {
    margin-top: 1.5em;
    background: #ffde16;
    color: #192662;
    border: solid 10px #192662;
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 3em;
    font-size: 150% !important;
    cursor: pointer;
}